<header>
    <nav class="navbar">
        <div class="navbar-header">
        <img class="navbar-brand" src="assets/logo.png"><img>
        </div>
        <!--<ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>-->
  </nav>
</header>
<div class="" id="mainWrapper">
    <div id="configWrapper" class="row text-center">
        <div class="col-md-4">
            <select id="countrySelect" class="custom-select">
                    <option selected>Nacionalidades</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
            </select>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
                <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
              </div>
            </div>
        <div class="col-md-4">
            <select id="countrySelect" class="custom-select">
                    <option selected>Categorías</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
            </select>
        </div>
    </div>
    <div class="container" id="mapWrapper">
        <div style="height: 500px;"
            leaflet 
            [leafletOptions]="options"
            [leafletLayers]="layers"
            (leafletMapReady)="onMapReady($event)">
        </div>
    </div>
</div>
<footer class="container-fluid text-center">
    <p>Información de contacto</p>
</footer>