*{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5pt;   
}

body{
    overflow-x: auto;
}

#mapWrapper{
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer{
    padding: 50px;
}

.navbar{
    background-color:#252525;
    margin:auto;
}
.navbar-header{
    width: 100%;
    float: none;
}
.navbar-brand{
    padding: 0px;
    float: right;
    opacity: 80%;
}

.sliderLabel{
    height: 50px;
}
.slider{
    height: 50px;
    width: inherit;
}

#tickmarks{
    border: 1px solid black;
}

#configWrapper{
    padding: 15px 15px 0px 15px;
}

#searchBtn{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 1px 1px #222222;
}

.sloganSpan{
    text-align: left;
    color: white;
    text-shadow: 1px 1px black;
    vertical-align: -webkit-baseline-middle;
}

.footer {
 background:#f6f6f6;
 margin-top:150px;
 padding:20px 0;
 border-top:2px solid orange;
}
.widget h2 {
 cursor:pointer;  
 font-size:18px;
 font-weight:bold;
 padding-bottom:5px;
}
.footer-bottom {
 background:#d8d8d8;
 padding:15px 0;
 border-top:1px solid #d9d9d9;
 font-size:11px;
 color:#777;
}
  
@media only screen and (max-width: 479px) {    
     .widget_content{
        display:none;
    }
    .active .widget_content{
    	display:inline;	
    }
    .widget h2 { 
        border-bottom:1px solid #ddd;
    }   
    .widget h2:after {
        content:"\203A";
        color:white;
        width:20px;
        height:20px;
        background:#999;
        display:inline-block;
        text-align:center;
        float:right;
    }
    .active.widget h2:after {
        content:"\2039";    
        background:#ccc;
    }
}