<header>
    <nav class="navbar">
        <div class="navbar-header">
        <img class="navbar-brand" src="assets/logo.png"><img>
        </div>
        <!--<ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>-->
  </nav>
</header>
<div class="" id="mainWrapper">
    <div id="configWrapper">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <select [(ngModel)]="select" class="form-control">
                <option *ngFor="let nat of nationalities; let i = index" [value]="nat.name">
                {{nat.name}}
                </option>
            </select>
        </div>
        <div class="col-md-3"> <!-- percentSlider -->
            <div id="percentSliderWrapper">
                <input type="range" min="1" max="100" value="50" class="slider" id="percentSlider">
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <select id="countrySelect" class="form-control">
                <option selected>Categorías</option>
                <option value="rest">Restaurante</option>
                <option value="cc">Centro comercial</option>
                <option value="pub">Pub</option>
            </select>
        </div>
        <div class="col-md-3"> <!-- ageSlider -->
            <div id="ageSliderWrapper">
                <input type="range" min="1" max="100" value="50" class="slider" id="ageSlider">
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
     <div class="row">
        <div class="col-md-4"></div>
      <div class="col-md-4">
            <br>
            <button id="searchBtn" class="btn btn-success">Buscar</button>            
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
    <br><br>
    <div class="container" id="mapWrapper">
        <div style="height: 500px;"
            leaflet 
            [leafletOptions]="options"
            [leafletLayers]="layers"
            (leafletMapReady)="onMapReady($event)">
        </div>
    </div>
</div>
<footer class="container-fluid text-center">
    <p>Información de contacto</p>
</footer>