*{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5pt;   
}

body{
    overflow-x: auto;
}

#mapWrapper{
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer{
    padding: 50px;
}

.navbar{
    background-color:#252525;
    margin:auto;
}
.navbar-header{
    width: 100%;
    float: none;
}
.navbar-brand{
    padding: 0px;
    float: right;
    opacity: 80%;
}

.sliderLabel{
    height: 50px;
}
.slider{
    height: 50px;
    width: inherit;
}

#tickmarks{
    border: 1px solid black;
}

#configWrapper{
    padding: 15px 15px 0px 15px;
}

#searchBtn{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 1px 1px #222222;
}

.sloganSpan{
    text-align: left;
    color: white;
    text-shadow: 1px 1px black;
    vertical-align: -webkit-baseline-middle;
}